<header class="navbar navbar-fixed-top navbar-inverse"> 
  <div class="container">
    <%= link_to "#{image_tag("logo.png", width: "75")} Model Arts Studio".html_safe, root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right ">
        <li style="top: 12px"><%= link_to "MAS", about_path %></li>
        <li style="top: 12px"><%= link_to "Contacta", contact_path %></li>
        <li style="top: 12px"><%= link_to "Soporte", help_path %></li>
        <% if user_signed_in? %>
          <li style="top: 12px"><%= link_to "Usuario", "#" %></li>
          <li class="dropdown" style="top: 12px">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              Cuenta <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to "Perfil", current_user %></li>
              <li><%= link_to "Configurar", '#' %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Salir", destroy_user_session_path, method: :delete %> </li>
              </li>
            </ul>
          </li>
        <% else %>
          <li style="top: 12px"><%= link_to "Entrar",  new_user_session_path %></li>
          <li style="top: 12px"><%= link_to "Registrarte",  new_user_registration_path %></li>
        <% end %>
      </ul> 
    </nav>
  </div>
</header>