<header class="navbar navbar-fixed-top navbar-inverse"> 
      <div class="container">
        <%= link_to "#{image_tag("logo.png", width: "75")} Model Arts Studio".html_safe, root_path, id: "logo" %>
        <nav>
          <ul class="nav navbar-nav navbar-right ">
            <li style="top: 12px"><%= link_to "MAS", about_path %></li>
            <li style="top: 12px"><%= link_to "Contact", contact_path %></li>
            <li style="top: 12px"><%= link_to "Help", help_path %></li>
            <li style="top: 12px"><%= link_to "Log in", signup_path %></li>
          </ul> 
        </nav>
      </div>
    </header>